spring:
  application:
    name: employee-service
  config:
    activate:
      on-profile: dev
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: true
  datasource:
    url: jdbc:postgresql://localhost:5432/employee_dev
    username: postgres
    password: postgres
  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.type: TRACE