spring:
  application:
    name: employee-service
  config:
    activate:
      on-profile: dev
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: true
  datasource:
    url: jdbc:postgresql://localhost:5432/employee_dev
    username: postgres
    password: postgres
  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.type: TRACE
  springdoc:
    api-docs:
      path: /api-docs
    swagger-ui:
      path: /swagger-ui
      operations-sorter: method
      try-it-out-enabled: true
      filter: true
    default-produces-media-type: application/json
    default-consumes-media-type: application/json

resilience4j:
  .circuitbreaker:
    instances:
      employeeService:
        registerHealthIndicator: true               # экспорт конфигурации в actuator/health
        ringBufferSizeInClosedState: 5              # размер кольцевого буфера для CLOSED состояния
        ringBufferSizeInHalfOpenState: 3            # размер кольцевого буфера для HALF_OPEN состояния
        sliding-window-size: 10                     # размер скользящего окна
        minimum-number-of-calls: 3                  # минимальное количество вызовов перед расчетом
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 5s             # время ожидания в разомкнутом состоянии
        failure-rate-threshold: 50                  # порог частоты отказов в %
        record-exceptions:                          # исключения которые должны расцениваться как сбои
          - java.util.concurrent.TimeoutException
          - java.io.IOException
          - org.springframework.web.client.HttpServerErrorException
        ignore-exceptions:
          - com.muromtsev.employee.exception.EmployeeNotFoundException