spring:
  application:
    name: organization-service
  config:
    activate:
      on-profile: dev
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: true
  sql:
    init:
      mode: always