spring:
  application:
    name: organization-service
  config:
    activate:
      on-profile: dev
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: true
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    operations-sorter: method
    try-it-out-enabled: true
    filter: true
  default-produces-media-type: application/json
  default-consumes-media-type: application/json

info:
  app:
    name: Organization Service
    description: Microservice for organization management
    version: 1.0.0