example:
  property: DEFAULT

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/default_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
  properties:
    hibernate:
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect
  show-sql: true
  sql:
    init:
      mode: always
      continue-on-error: true
      data-locations: classpath:data.sql

management:
  endpoints:
    web:
      exposure:
        include: "*"
    enable-by-default: true
  endpoint:
    health:
      enabled: true
      show-details: ALWAYS

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka

