spring:
  application:
    name: gateway-server

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

          httpclient:
            connect-timeout: 1000
            response-timeout: 5s

          routes:
            - id: employee-service
              uri: lb://EMPLOYEE-SERVICE
              predicates:
                - Path=/api/employees/**
              filters:
                - RewritePath=/api/employees/(?<segment>.*), /$\{segment}
                - name: Retry
                  args:
                    retries: 3
                    statuses: BAD_GATEWAY, SERVICE_UNAVAILABLE
                    methods: GET,POST

            - id: organization-service
              uri: lb://ORGANIZATION-SERVICE
              predicates:
                - Path=/api/organizations/**
              filters:
                - RewritePath=/api/organizations/(?<segment>.*), /$\{segment}

            - id: httpbin-test
              uri: https://httpbin.org
              predicates:
                - Path=/test/**
              filters:
                - StripPrefix=1
                - AddRequestHeader=X-Forwarded-Host, localhost

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8070/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    hostname: localhost
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,routes
  endpoint:
    gateway:
      access: READ_ONLY

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG