example:
  property: DEV

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5433/organization_dev
    username: postgres
    password: postgres
  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.type: TRACE